.dots.dot:nth-child(1) {
    --delay: 0ms;
}
.dots.dot:nth-child(2) {
    --delay: 100ms;
}
.dots.dot:nth-child(3) {
    --delay: 200ms;
}

.dots.dot {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: black;
    opacity: 0.2;
    animation: jump 0.6s linear infinite var(--delay);
}

@keyframes jump {
    0% {
        opacity: 0.2;
        transform: translateY(0px);
    }
    33% {
        opacity: 0.6;
        transform: translateY(-9px);
    }
    66% {
        opacity: 0.2;
        transform: translateY(0px);
    }
}

.dots-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.dots-container .dot + .dot {
    margin-left: 8px; /* Espaçamento entre as bolinhas */
}
